<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-6 h4">Evaluation: <%= @evaluation.name %></div>
      <div class="col-6 text-right">
        <%= link_to 'Edit', edit_evaluation_path(@evaluation), class: "btn btn-link btn-lg" %> |
        <%= link_to 'Back', evaluations_path, class: "btn btn-link btn-lg" %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <p class="lead">Description: <%= @evaluation.description %></p>
      </div>
      <div class="col-12">
        <h4 class="text-center">Question List</h4>
        
        
          <ol>
          <% @questions_list.each do |question|%>
            <li>
              <%= question.content %>
              | Category: <%= question.category.name %>
              <%= link_to 'Edit', edit_question_path(question) %>
              <%= link_to 'Destroy', questions_to_evaluate_path(QuestionsToEvaluate.find_by(evaluation_id: @evaluation.id,question_id: question.id).id), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% question.answers.each do |answer| %>
                <ul>
                  <li> <%= answer.content %> </li>
                </ul> 
              <% end %>
            </li>
            <% end %>
          </ol>
        
      </div>
    </div>
    <hr>
    <div class="jumbotron">
      <div class="row">
        <div class="col-12">
          <p class="h4 text-center">Form Question</p>
          <%= form_with(model: @question, local: true) do |form| %>
            <% if @question.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
                <ul>
                  <% @question.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            
            <div class="form-group">
              <p> <%= form.label :category %> </p>
              <div class="row">
                <div class="col-8">
                  <%= form.select :category_id, Category.pluck(:name, :id) %>
                </div>
                <div class="col-4">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    New category
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <p> <%= form.label "Question content" %> </p>
              <div class="container">
                <%= form.text_area :content, class: "w-100", placeholder: "Question?" %>
              </div>
            </div><hr/>
        
            <%= form.fields_for :questions_to_evaluate do |qe| %>
              <%= qe.hidden_field :evaluation_id, :value => @evaluation.id %>
            <% end %>

        
            <p>Answers</p>
            <!-- Answers -->
            <%= form.fields_for :answers do |a1| %>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                      <%= a1.check_box :value %>
                    </div>
                </div>
                <%= a1.text_area :content, class: "form-control", placeholder: "Answer" %>
              </div>
            <% end %>

            
          <div class="row">
            <div class="col-6">
              <%= form.submit "Add question", class: "btn btn-success btn-lg"%>
            </div>
            <div class="col-6 text-right">
             
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="notice"><%= notice %></p>
        <%= form_with model: @category do |form| %>
          <% if @category.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

              <ul>
              <% @category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="row">
            <div class="col-8">
              <div class="field">
                <%= form.text_field :name, placeholder: "Category Name", class:"w-100" %>
              </div>
            </div>
            <div class="col-4">
              <div class="actions">
                <%= form.submit "Add Category", class:"btn btn-primary", id:"newCategory" %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

