<p>
  <strong>Name:</strong>
  <%= @evaluation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @evaluation.description %>
</p>

<p>
  <strong>N questions:</strong>
  <%= @evaluation.n_questions %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @evaluation.user.name %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
<hr/>
<%= link_to 'Add Questions', evaluation_path , class: "btn btn-primary btn-lg" %>

