<h1>Questions</h1>

<div class="accordion" id="accordionExample">
<% @categories.each do |category| %>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#<%= category.name %>"
          aria-expanded="true" aria-controls="<%= category.name %>">
          <%= category.name %>
        </button>
      </h2>
    </div>

    <div id="<%= category.name %>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      <% category.questions.each do |question| %>
      <p>
        <%= question.content %>
        <%= link_to 'Show', question %>
        <%= link_to 'Edit', edit_question_path(question) %>
        <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
        <ul>
          <% question.answers.each do |answer| %>
            <li><%= answer.content %></li>
          <% end %>
        </ul>
      </p>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>