<!DOCTYPE html>
<html>
  <head>
    <title>Your Own Test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=devise-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>

    
  </head>

  <body>
    <% if user_signed_in? %>

      <!-- Navbar -->
      <% if current_user.student?%>
        <%= render 'layouts/student_navbar' %>
        <div class="container">
          <%= render 'layouts/alerts' %>  
          <%= yield %>
        </div>
      <% else %>
        <%= render 'layouts/navbar' %>
        <div class="container">
          <%= render 'layouts/alerts' %>  
          <%= yield %>
        </div>
      <% end %>
    <% else %>
      <div class="container">
        <%= render 'layouts/alerts' %>  
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
